<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @perk.title %>
</p>

<p>
  <strong>Position:</strong>
  <%= @perk.position %>
</p>

<%= link_to 'Edit', edit_perk_path(@perk) %> |
<%= link_to 'Back', perks_path %>
